fastapi
uvicorn[standard]
python-dotenv
python-multipart
# AI 相關
langchain
langchain-qdrant
langchain-google-genai
langchain-community
langchain-classic
qdrant-client
llama-cloud-services
ddgs # duckduckgo-search
# File
pdfrw
python-docx